.main_blog{
    max-width: calc(1000px - 80px); /*os 80px e referente ao padding de 40px de cada lado*/
    width: calc(96% - 80px);
    background-color: #ccc;
    padding: 40px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_blog header{
    flex-basis: 100%;
}

.main_blog article{
    flex-basis: calc(50% - 40px - 20px);/*os 20px seria a margin entre o blocos*/
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin: 20px 0;
    text-align: justify;
}

.main_blog article h3{
    color: #f00;
}

.main_blog article p{
    font-size: 1.1em;
}

@media(max-width: 640px){
    .main_blog article{
        flex-basis: calc(100% - 40px);
    }
}