/*LOGO*/
/*Aqui o width e height tem a altura que a imagem da logo apresenta*/
.main_logo{position: relative; width: 242px; height: 60px;}
.main_logo a{position: absolute; width: 210px; height: 60px; background: url(../img/logo-ws-html5.png) center center no-repeat; background-size: auto 76%;}
.main_logo a:hover{background-color: #222;}

/*MENU PRINCIPAL*/
.main_nav{width: auto; margin-top: 10px;}
.main_nav li{float: left;}
.main_nav a{float: left; padding: 12px 16px; color: #eee; font-weight: normal;}
.main_nav a:hover{color: #fff; text-decoration: underline;}

/*RODAPÉ*/
.main_footer .title{font-size: 1em; text-transform: uppercase; margin-bottom:  10px; padding-bottom: 8px; border-bottom: 1px solid #ccc;}
.main_footer li{margin-bottom: 3px; padding: 3px 0;}
.main_footer a{color: #cf4823;}
.main_footer a:hover{text-decoration: underline;}

.main_ead hr{margin-bottom: 15px;}
.main_ead .plast{margin: 0; font-size: 0.9em; line-height: 1.4;}

/*VIDEO*/
.main_video{margin-bottom: 24px; padding-bottom: 24px; background: url(../img/video_shadow.png) bottom center no-repeat;}
.main_videos h1{margin-bottom: 30px;}
.main_videos .box{margin-bottom: 30px;}
.main_videos .box_video_title{font-size: 1em; font-weight: normal; margin: 0;}
.main_videos .thumb{float: left; position: relative; margin-bottom: 10px;}
.main_videos .video_play{
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.2) url(../img/play_video.png) left 10px bottom 10px no-repeat;
    background-size: auto 50%;
    cursor: pointer;
}
.main_videos .video_play:hover{background-color: rgba(207,72,35,0.5);}

/*TEC CARACTERÍSTICAS*/
.main_tec_item{padding: 15px 30px; margin-bottom: 30px; min-height: 350px;}
.main_tec_item:hover{
    background: #ff7c6d; 
    color: #fff; 
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); 
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); 
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
}
.main_tec_item img{padding: 25px; width: 80%; margin: 0 10%; background: #eee; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; margin-bottom: 15px;}
.main_tec_item h1{font-size: 1.4em; margin-bottom: 15px;}
.main_tec_item .tagline{font-size: 0.9em; font-weight: normal;}











